/* ActiveLink.module.css */
.link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
 
  
  .link:hover {
    background-color: #F0F0FA;
    font-weight: 500;
  }
  
  .link #dafault_com_icon,
  .link #upload_icon {
    stroke: #65657E;
  }
  
  .link.active #dafault_com_icon,
  .link.active #upload_icon {
    stroke: #5A2DB2;
  }
  
  .link.noPermission {
    pointer-events: none;
  }


 
  
